<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/Images/Logo.svg" alt="logo" />
    <span>Ecommerance</span>
  </a>

  <!-- Sidebar -->
  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible,
    }"
  >
    <p-button
      (onClick)="op.toggle($event)"
      icon="pi pi-bell"
      [badge]="notificationCount"
      badgeClass="text-xl w-5 h-5"
    />
  </div>
  <p-overlayPanel #op [showCloseIcon]="true" styleClass="notification-panel">
    <div class="notification-container">
      <div
        *ngFor="let member of status; let i = index"
        class="notification-item flex justify-content-between align-items-start"
      >
        <!-- LEFT CONTENT -->
        <div class="notification-left">
          <div class="order-id">Order #{{ member.orderId }}</div>

          <div class="order-status">
            {{ member.status }}
          </div>

          <div class="order-message">
            {{ member.message }}
          </div>
        </div>

        <!-- RIGHT SIDE -->
        <div class="notification-right flex flex-column align-items-end">
          <span class="order-time">
            {{ member.createdAt | date: "short" }}
          </span>

          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-sm delete-btn"
            (click)="removeNotification(i)"
          ></button>
        </div>
      </div>
    </div>
  </p-overlayPanel>
</div>
