<section>
  <div class="container">
    <h1 class="text-primary">All Products</h1>
    <p>
      all product is
      <span class="font-bold text-orange">{{ productCount }}</span>
    </p>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        placeholder="Search"
        class="w-full"
        (input)="onSearchChange($event)"
      />
    </p-iconField>

    <app-card
      [products]="allProducts"
      [isSmallCard]="false"
      [searchKey]="searchValue"
    ></app-card>

    <!-- Pagination -->
    <div class="flex justify-content-center mt-4">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="pageSize"
        [totalRecords]="productCount"
      >
        <!-- [rowsPerPageOptions]="[6, 12, 24]" -->
      </p-paginator>
    </div>
  </div>
</section>
