<section>
  <div class="container py-5">
    <h1>Reset Paswword</h1>
    <form [formGroup]="resetPassForm" (ngSubmit)="submitForm()">
      <!-- Password -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-key"></i>
          </p-inputGroupAddon>
          <input
            formControlName="password"
            type="password"
            pInputText
            placeholder="Password"
          />
        </p-inputGroup>
        <div class="validation-msg">
          <div class="card">
            @if (password.dirty && password.touched) {
              @if (password.getError("required")) {
                <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'Validation Error',
                      detail: 'This Field Is Required',
                    },
                  ]"
                  [enableService]="false"
                  [closable]="false"
                />
              }
            }
          </div>
        </div>
      </div>
      <!-- Confirm Password -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-key"></i>
          </p-inputGroupAddon>
          <input
            formControlName="confirmPassword"
            type="password"
            pInputText
            placeholder="Confirm Password"
          />
        </p-inputGroup>
        <div class="validation-msg">
          <div class="card">
            @if (confirmPassword.dirty && confirmPassword.touched) {
              @if (confirmPassword.getError("required")) {
                <p-messages
                  [value]="[
                    {
                      severity: 'error',
                      summary: 'Validation Error',
                      detail: 'This Field Is Required',
                    },
                  ]"
                  [enableService]="false"
                  [closable]="false"
                />
              }
            }
            @if (confirmPassword.getError("notSame")) {
              <p-messages
                [value]="[
                  {
                    severity: 'error',
                    summary: 'Validation Error',
                    detail: 'Passwords Must Match',
                  },
                ]"
                [enableService]="false"
                [closable]="false"
              />
            }
          </div>
        </div>
      </div>
      <div class="card flex justify-content-center">
        <p-button type="Submit" label="Submit" />
      </div>
    </form>
  </div>
</section>

<!-- spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-fade"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
