.p-button {
  background: #1c99ab;
  border: 1px solid #1c99ab;
}

.p-button.p-button-outlined {
  color: #fff;
}

.p-dataview .p-dataview-emptymessage {
  padding: 2.25rem;
  background: #1c99ab;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}
