<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        label="Expand All"
        icon="pi pi-plus"
        text
        (onClick)="expandAll()"
      />
      <p-button
        label="Collapse All"
        icon="pi pi-minus"
        text
        (onClick)="collapseAll()"
      />
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept=".xlsx,.xls"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
      />
      <p-button
        severity="help"
        label="Export"
        icon="pi pi-upload"
        (onClick)="exportOrders()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="orders"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <!-- Two buttons -->
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap justify-content-end gap-2">
        <p-button
          label="Expand All"
          icon="pi pi-plus"
          text
          (onClick)="expandAll()"
          styleClass="hidden"
        />
        <p-button
          label="Collapse All"
          icon="pi pi-minus"
          text
          (onClick)="collapseAll()"
          styleClass="hidden"
        />
      </div>
    </ng-template>
    <!-- Table Headers -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Buyer Email<p-sortIcon field="name" /></th>
        <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
        <th pSortableColumn="category">
          Delivary Method <p-sortIcon field="category" />
        </th>
        <th>Order Status</th>
        <th>edit</th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template pTemplate="body" let-order let-expanded="expanded">
      <!-- Show Order Details -->
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="order"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ order.buyerEmail }}</td>
        <td>{{ order.total | currency: "USD" }}</td>
        <td>{{ order.delivaryMethod }}</td>
        <th>{{ order.orderStatus }}</th>
        <th>
          <p-button (onClick)="showDialog(order.id)" label="Show" />
        </th>
      </tr>
    </ng-template>
    <!-- Order Items Details -->
    <ng-template pTemplate="rowexpansion" let-order>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <!-- Order Items Headers -->
            <p-table [value]="order.items" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Id <p-sortIcon field="price" /></th>
                  <th pSortableColumn="productName">
                    Product Name <p-sortIcon field="productName" />
                  </th>
                  <th pSortableColumn="count">
                    Count <p-sortIcon field="count" />
                  </th>
                  <th pSortableColumn="price">
                    Price <p-sortIcon field="price" />
                  </th>
                  <th pSortableColumn="image">
                    Image <p-sortIcon field="image" />
                  </th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <!-- Order Items Body -->
              <ng-template pTemplate="body" let-order>
                <tr>
                  <td>{{ order.id }}</td>
                  <td>{{ order.name }}</td>
                  <td>{{ order.count }}</td>
                  <td>{{ order.price | currency: "USD" }}</td>
                  <td>
                    <img
                      [src]="order.pictureUrl"
                      [alt]="order.name"
                      width="50"
                    />
                  </td>
                  <td><p-button type="button" icon="pi pi-search" /></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">There are no Items for this Order yet.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Edit Order Status -->
  <div class="card flex justify-content-center">
    <p-dialog
      header="Edit Order Status"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '50rem', height: '30rem' }"
    >
      <span class="p-text-secondary block mb-5">Update Order Status.</span>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Order Status</label>
        <p-dropdown
          [options]="orderStatus"
          [(ngModel)]="selectedOrderStatus"
          optionLabel="label"
          optionValue="value"
          placeholder="Select a Status"
        >
        </p-dropdown>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (onClick)="visible = false"
        />
        <p-button label="Save" (onClick)="editOrderStatus()" />
      </div>
    </p-dialog>
  </div>
</div>
